<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
    <select name="" id="selection">
      <option value="automobiles">automobiles</option>
      <option value="computers">computers</option>
    </select>

    <button onclick="Refresh()">bbutton</button>

    <table style="width:100%; border: 2px solid black; text-align: left">

    </table>
    <script>
      // function myFunction() {
      //   $.ajax({
      //   type: "POST",
      //   url: "~/maincode.py",
      //   data: { param: "perhaps"}
      //   }).done(function(printthing) {
      //     // do something
      //   });
      // }
      const select = document.getElementById("selection");

      let Refresh = function () {
        let category = select.value;
        if (category != "") {
          
          $.get("/categories", {peepeepoopoo: select }, function(returninfo) {
            document.getElementById("table").innerHTML = returninfo
            // $("#table").html(data);
            alert("Load was performed.");
          });
 
        } else {
          alert("Please select a category to scrape!");
        }
      };
    </script>
</body>
</html>